<div class="card">
    <h4 class="card-header">View Album </h4>
    <div class="card-body">
        <form [formGroup]="formAlbum" >
            <div class="form-group">
                <label for="full_name">Album Name *</label>
                <input type="text" formControlName="album_name" class="form-control"  />
               
            </div>
            <div class="form-group">
                <label for="username">Year *</label>
                <input type="number" formControlName="year" class="form-control" maxlength="4"  />
               
            </div>
            <div class="form-group">
                <label for="confirm_password">Artist *</label>
                
                <select name="artist_id" id="artist_id" formControlName="artist_id" class="form-control">
                    <option *ngFor="let item of artists" value="{{item.id}}" >{{item.name}}</option>    
                </select>
            </div>
            <br />
            <div class="form-group">
                
                <a routerLink="/album" class="btn btn-link">Back</a>
            </div>
        </form>
    </div>
  </div>